# Compiled
*.elc

# Backup
*~

# Local
.DS_Store
.lsp-session-*
.org-id-locations
/.mc-lists.el
/auto-save-list/
/elpa
/network-security.data
/savefile
/transient
Readme.el
persist/
projectile-bookmarks.eld
projects
eln-cache/
tramp
/var/
/forge-database.sqlite
/spell-fu/
